*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #777;
}
.images{
    margin-top: 1rem;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
